body {
	background-image: url(../src/images/honeycomb.png);
	background-repeat: no-repeat;
	inline-size: 100%;
}

#btn-cont {
	justify-content: center;
	max-height: 740px;
	outline: none;
	padding-top: 30px;
	top: 0;
}

button {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	height: 17%;
}

button:hover {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
}

#content-cont {
	justify-content: flex-end;
}

#dash {
	background-image: url(../src/images/flowers-yellow.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: transparent;
	height: 20%;
	margin-top: 20px;
}

#dash-content {
	background-color: rgba(0, 0, 0, 0.479);
	border-radius: 10px;
	margin-bottom: 120px;
	max-height: 100%;
	min-height: 480px;
}

#hive {
	background-image: url(../src/images/hive-header1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: transparent;
	height: 20%;
	margin-top: 20px;
}

#hive-content {
	background-color: rgba(0, 0, 0, 0.479);
	border-radius: 10px;
	margin-bottom: 120px;
	max-height: 100%;
	min-height: 480px;
}

#i2 {
	position: absolute;
	left: -5000px;
}

#img-btn {
	height: 160px;
}

#left {
	align-items: left;
}

label {
	color: white;
}

#main-box {
	height: 100%;
}

#mc_embed_signup {
	background: transparent;
	font: 14px Helvetica, Arial, sans-serif;
	width: 30%;
}

#mc_embed_signup_scroll {
	width: 400px;
}

#mc-embedded-subscribe-form {
	width: 600px;
}

#right {
	align-self: right;
}
