@media only screen and (max-width: 575px) {
	#dash {
		background-image: url(../src/images/flowers-yellow.png);
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 10px;
		color: transparent;
		height: 17%;
		margin-top: 20px;
		margin-left: 0px;
	}

	#dash-content {
		min-height: 300px;
		margin-left: 0px;
	}

	#hive {
		background-image: url(../src/images/hive-header1.png);
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 10px;
		color: transparent;
		height: 18%;
		margin-top: 20px;
	}

	#img-btn {
		inline-size: 32%;
	}
}
